Django==6.0.3
djangorestframework==3.17.1
django-cors-headers==4.9.0
djangorestframework-simplejwt==5.5.1

gunicorn==21.2.0
uvicorn==0.44.0

python-dotenv==1.2.2
requests==2.33.1

chromadb==1.5.8
faiss-cpu==1.13.2

langchain==1.2.15
langchain-community==0.4.1
langchain-core==1.2.30
langchain-groq==1.1.2

sentence-transformers==5.4.1

numpy==2.4.4
pandas==2.3.0
scipy==1.17.1
scikit-learn==1.8.0
